@charset "UTF-8";
/* Button */
.btn {
  display: block;
  width: 100%;
}

.button {
  font-size: 1rem;
  background: #f9bf4e;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover {
  background: #f8b635;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: color;
}

/* Home */
#home {
  background-image: url(../images/main-bg.jpg);
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}
#home .home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10%;
}
#home .home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}
#home #home-footer {
  position: absolute;
  bottom: 0;
  background: transparent;
  text-align: center;
  width: 100vw;
  margin-top: 40px;
  padding: 0;
}
#home #home-footer p {
  color: #432;
}

/* News */
#news {
  background-image: url(../images/news-bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}
#news .page-title {
  text-align: center;
}

.news-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* Article */
article {
  width: 74%;
}
article img {
  margin-bottom: 20px;
  width: 100%;
}
article p {
  margin-bottom: 1rem;
}
article .post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}
article .post-date {
  background: #f9bf4e;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 10px;
}
article .post-date span {
  font-size: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}
article .post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}
article .post-title,
article .post-cat {
  margin-left: 120px;
}

/* Sidebar */
aside {
  width: 22%;
}
aside p {
  padding: 12px 10px;
}
aside .sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px solid #f9bf4e;
  font-weight: normal;
}
aside .sub-menu {
  margin-bottom: 60px;
  list-style: none;
}
aside .sub-menu li {
  border-bottom: 1px solid #ddd;
}
aside .sub-menu a {
  color: #432;
  padding: 10px;
  display: block;
}
aside .sub-menu a:hover {
  color: #f9bf4e;
}

/* Menu */
#menu {
  background: url(../images/menu-bg.jpg) no-repeat center/cover;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: soft-light;
  height: 100vh;
  margin-bottom: 2rem;
}
#menu .menu-content {
  max-width: 560px;
  margin-top: 10%;
}
#menu .menu-content .page-title {
  text-align: center;
}
#menu .menu-content p {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

/* Menu Grid */
.grids .wrapper {
  margin-bottom: 2rem;
}
.grids .grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.grids .grid .big-box {
  grid-column: 1/3;
  grid-row: 1/3;
}
.grids .grid .big-box img {
  height: 94%;
  width: 100%;
  object-fit: cover;
}

/* Contact */
#contact {
  background-image: url(../images/contact-bg.jpg);
  min-height: 100vh;
}
#contact .page-title {
  margin-bottom: 4rem;
}

/* Form */
form div {
  margin-bottom: 14px;
}
form label {
  font-size: 1rem;
  margin-bottom: 10px;
  display: block;
}
form input:focus,
form textarea:focus {
  outline: none;
}
form input[type=text],
form input[type=email],
form textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
form input[type=text],
form input[type=email] {
  width: 100%;
  max-width: 240px;
}
form textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
form input[type=submit] {
  border: none;
  cursor: pointer;
  line-height: 0.1;
  margin-bottom: 1rem;
}

/* Shop Infp & Google Map */
#location {
  padding: 4px 0;
  /* iframe */
}
#location > .wrapper {
  display: flex;
  justify-content: space-between;
}
#location .location-info {
  width: 22%;
}
#location .location-info p {
  padding: 12px 10px;
}
#location .location-map {
  width: 74%;
}
#location iframe {
  width: 100%;
}

/* SNS */
#sns {
  background: #faf7f0;
  padding: 4% 0;
}
#sns .wrapper {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-areas: "fb tw" "yt yt";
}
#sns .sub-title {
  margin-bottom: 30px;
}
#sns .sns-box {
  padding: 0 1rem;
}
#sns .grid-fb {
  grid-area: fb;
  width: 500px;
}
#sns .grid-tw {
  grid-area: tw;
  width: 500px;
}
#sns .grid-yt {
  width: 100%;
  grid-area: yt;
}
#sns .grid-yt iframe {
  width: 100%;
  height: 400px;
}

body {
  line-height: 1.7;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* Header */
.logo {
  width: 240px;
  margin-top: 0.5rem;
}

body .page-title {
  font-size: 5rem;
  font-family: "Philosopher", serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* Nav Bar */
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover,
.main-nav a .active {
  color: #f9bf4e;
}
.main-nav img {
  max-width: 100%;
}

/* Footer */
footer {
  background: #432;
  text-align: center;
  padding: 0.5rem 0;
}
footer p {
  color: #fff;
  font-size: 0.8rem;
}

/* Mobile */
@media screen and (max-width: 780px) {
  .home-content .page-title,
  #news .page-title,
  #menu .page-title,
  #contact .page-title {
    font-size: 2.5rem;
  }
  /* HEADER */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }
  .main-nav .active {
    /* font-weight: bold; */
    color: #fff;
    background-color: #f9bf4e;
    padding: 0.3rem;
  }
  /* HOME */
  .home-content {
    margin-top: 20%;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }
  /* News */
  .news-content {
    flex-direction: column;
  }
  article,
  aside {
    width: 100%;
  }
  #news .page-title {
    margin-top: 30px;
  }
  aside {
    margin-top: 60px;
  }
  .post-info {
    margin-bottom: 30px;
  }
  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }
  .post-date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }
  .page-title {
    font-size: 1.375rem;
  }
  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .post-title,
  .post-cat {
    margin-left: 80px;
  }
  /* Menu */
  #menu .menu-content {
    margin-top: 20%;
  }
  .grids .grid {
    display: flex;
    flex-direction: column;
  }
  .grids .grid .big-box {
    margin-top: 1rem;
  }
  /* Contact */
  #contact .page-title {
    margin-top: 40px;
    margin-bottom: 1rem;
  }
  #contact > .wrapper {
    height: 20vh;
  }
  #contact > .wrapper form input[type=text],
  #contact > .wrapper form input[type=email],
  #contact > .wrapper form textarea {
    max-width: 100%;
  }
  #location .location-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  #location .line {
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 0.5rem 0 1rem;
  }
  #location .wrapper,
  #sns .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sns .wrapper {
    width: 100vw;
    padding: 1rem;
  }
  #sns .wrapper .sns-box {
    margin-bottom: 30px;
    width: 100%;
  }
  #sns .wrapper .grid-yt iframe {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */